@charset "utf-8";

header {
    background-color: #ffccff;
    padding: 10px;
    text-align: center;
    border-bottom: 4px double #ff99ff;
}

.main {
    background-color: #ffffcc;
    padding: 20px;
    border: 2px solid #ffcc66;
}

.main ul {
    display: block;
    list-style-type: none;
    padding: 0;
}

.main ul li {
    margin: 10px 0;
}

.main ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.main ul li a:hover {
    color: #ff6600;
}

footer {
    background-color: #ffccff;
    padding: 10px;
    text-align: center;
    border-top: 4px double #ff99ff;
    margin-top: 20px;
}