/* 個人HP全盛期風CSS */
body {
  background-color: #000033;
  background-image: url('C:\VScord\image\haikei.png');
  color: #ffffff;
  font-family: "MS PGothic", Osaka, Arial, sans-serif;
  text-align: center;
}


#container {
  width: 760px;
  margin: 0 auto;
  border: 5px ridge #ffcc00;
  background-color: #000000;
}


#header {
  background: linear-gradient(#330066, #000000);
  padding: 10px;
}


#header h1 {
  color: #ff66ff;
  text-shadow: 2px 2px #ff0000;
  margin: 5px 0;
}


#menu {
  background-color: #000066;
  border-top: 2px solid #00ffff;
  border-bottom: 2px solid #00ffff;
  padding: 5px;
}


#menu a {
  color: #00ff00;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}


#menu a:hover {
  color: #ffff00;
  text-decoration: underline;
}


#content {
  padding: 15px;
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
}


.box {
  border: 3px double #00ffff;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #000033;
}


.blink {
  animation: blink 1s step-start infinite;
  color: #ff0000;
  font-weight: bold;
}


@keyframes blink {
  50% { opacity: 0; }
}


.right {
  text-align: right;
  font-size: 12px;
  color: #cccccc;
}


#footer {
  border-top: 2px solid #666666;
  padding: 5px;
  font-size: 12px;
  color: #aaaaaa;
}
